<!doctype HTML>
<html>
<head><title>Fruit Picker</title></head>
<body>
<form action="/movie_add" method="POST">
    <p>Add a movie to the database</p>
    <p>
        <label for="name">Title:</label>
        <input type="text" name="title"/>
    </p>
    <p>
        <label for="year">Year:</label>
        <input type="text" name="year"/>
    </p>
    <p>
        <label for="imdb">IMDB:</label>
        <input type="text" name="imdb"/>
    </p>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>
